<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<datamodels>
    <datamodel>
        <name>spark_processing_model</name> <!-- model name -->
        <processor>com.hotstar.datamodel.streaming.spark.processor.SparkProcessor</processor> <!-- Processor class which create
                                                                                                 datamodel data from parsed messages -->
        <receiver>
            <num_threads>3</num_threads>  <!-- number of receiver threads -->
            <kinesisAppName>Spark_Processor</kinesisAppName>
            <streamName>ClientData_json_streams</streamName>
            <endpointUrl>kinesis.eu-west-1.amazonaws.com</endpointUrl>
            <InitialPositionInStream>LATEST</InitialPositionInStream> <!-- INITIAL or TRIM_HORIZON -->
            <StorageLevel>MEMORY_AND_DISK_2</StorageLevel>
            <Duration>10</Duration>
        </receiver>
    </datamodel>
</datamodels>
